# fly.toml app configuration file generated for love-app-space on 2025-12-11T09:05:33-06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'love-app-space'
primary_region = 'iad'

[build]
  image = 'node:18-alpine'

[env]
  PORT = '3000'

[[services]]
  protocol = 'tcp'
  internal_port = 3000
  processes = ['app']

  [[services.ports]]
    port = 80
    handlers = ['http']
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ['tls', 'http']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
